<ActionBar title="Map">
  <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="drawer-content">
      <StackLayout horizzontalAlign="left">
          <drawer-content></drawer-content>
      </StackLayout>
  </ScrollView>
  <!-- MAIN CONTENT OF PAGE GOES BELOW-->
  <StackLayout tkMainContent>
      <GridLayout rows="*,60">
          <ScrollView row="0">
            <GridLayout row="*,*">
                <MapView #mapView [latitude]="latitude" [longitude]="longitude" [height]="550"
                            [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
                            [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
                            (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
                            (cameraChanged)="onCameraChanged($event)">
                </MapView>
            </GridLayout>
          </ScrollView>
          <!-- BOTTOM BAR -->
          <bottom-bar></bottom-bar>
      </GridLayout>
  </StackLayout>
</RadSideDrawer>

