StackLayout{
    background-color: white;
    font-family: "FontAwesome";
    font-size: 30;
    border-top-width: 0.4;
    border-top-color:black;
}
.bar {
    padding-top: 12;
}
.bottom-unselected{
    color:LightGray;
}
.bottom-selected{
    color:black;
}