.profile-image{
   
}
.artist-header {
    font-size: 30;
    font-weight: bold;
    padding-left: 7;
}
.separator{
    margin-top: 7;
    height:2px;
    background:black;
    border-bottom: 1px solid black;
}
.social-bar {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.social-nav-bar {
    font-family: 'FontAwesome';
    font-size: 30;
    text-align: center;
    color:black;
    padding: 3;
}