<ActionBar title="Home">
  <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="drawer-content">
      <StackLayout horizzontalAlign="left">
          <drawer-content></drawer-content>
      </StackLayout>
  </ScrollView>
  <!-- MAIN CONTENT OF PAGE GOES BELOW-->
  <StackLayout tkMainContent class="bg-artists">
      <GridLayout rows="*,60">
          <ScrollView row="0">
            <a class="twitter-timeline" href="https://twitter.com/clowniafestival?ref_src=twsrc%5Etfw">Tweets by clowniafestival</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </ScrollView>
          <!-- BOTTOM BAR -->
          <bottom-bar></bottom-bar>
      </GridLayout>
  </StackLayout>
</RadSideDrawer>

