<ActionBar title="Artistes">
  <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="drawer-content">
      <StackLayout horizzontalAlign="left">
          <drawer-content></drawer-content>
      </StackLayout>
  </ScrollView>
  <!-- MAIN CONTENT OF PAGE GOES BELOW-->
  <StackLayout tkMainContent>
      <GridLayout rows="*,60">
          <ScrollView row="0">
            <Label text="Line-Up"></Label>
              <ListView [items]="artists">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <StackLayout [class.odd]="odd" [class.even]="even" [nsRouterLink]="['/artist/'+item.id]">
                        <Label [text]='"[" + item.id +"] " + item.data().name'></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
          </ScrollView>
          <!-- BOTTOM BAR -->
          <bottom-bar></bottom-bar>
      </GridLayout>
  </StackLayout>
</RadSideDrawer>

