<ActionBar title="Ciutat de clownia">
  <NavigationButton text="Menu" icon="res://ic_menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="drawer-content">
      <StackLayout horizzontalAlign="left">
          <drawer-content></drawer-content>
      </StackLayout>
  </ScrollView>
  <!-- MAIN CONTENT OF PAGE GOES BELOW-->
  <StackLayout tkMainContent>
      <Label text="Pàgina de la ciutat de clownia"></Label>
      <GridLayout rows="*,60">
            <ScrollView row="0">
  
            </ScrollView>
            <!-- BOTTOM BAR -->
            <bottom-bar></bottom-bar>
        </GridLayout>
  </StackLayout>
</RadSideDrawer>

